* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

:root {
    --primary-color: white;
    --secondary-color: rgb(255, 116, 24);
    --background-color: rgb(41, 41, 41);
}

body{ 
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('188687.jpg');
    background-size: cover;
    background-position: center;
    padding: 4rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

main {
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 30px;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--secondary-color);
}

section {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1rem;
}

ul {
    margin-left: 1.5rem;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

p {
    text-align: justify;
    text-indent: 1.5rem;
}

footer p {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
}